.Login-body {
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;

    background: var(--bg-primary);
}

.header-login {
    margin-bottom: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.header-login h2 {
    color: white;
    font-size: 2.5rem;
    text-decoration: underline var(--primary);
}

.header-login span {
    color: var(--primary);
}

.header-login small {
    color: var(--text-secondary);

    margin-top: -20px;
    margin-bottom: 3rem;
    display: block;

    font-size: .95rem;


}

.container-login {
    width: 100%;
    max-width: 420px;

    background: var(--bg-secondary);

    padding: 40px 30px;

    border-radius: 18px;

    border: 1px solid var(--border);

    box-shadow: 0px 10px 30px rgba(0,0,0, 0.35);
    animation: fade .5s ease;
    transition: .3s;
}

.container-login:hover {
    transform: translateY(-3px);

    box-shadow: 0 15px 40px rgba(0,0,0, 0.45);
}

.container-login h2 {
    text-align: center;

    color: var(--primary);

    font-size: 2rem;

    margin-bottom: 8px;

}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login_box {
    display: flex;
    
    flex-direction: column;
    
    gap: 18px;
}

.login-input {
    background: var(--bg-primary);
    
    color: white;
    font-size: 0.90rem;
    
    border: 1px solid var(--border);
    
    padding: 14px;
    
    border-radius: 10px;
    
    outline: none;
    
    transition: .25s;
}

.login-input:focus {
    border: 1px solid var(--primary);
    
    box-shadow: 0 0 10px rgba(57, 130, 247, .30);
}

.login-btn {
    
    width: 100%;
    
    padding: 14px;
    
    background:  var(--primary);
    color:  white;
    
    border: 1px solid var(--border);
    border-radius: 10px;
    
    cursor: pointer;
    
    transition: .2s;
    
    font-weight: bold;
    font-size: 1rem;

    letter-spacing: .5px;
}

.login-btn:hover {
    background: var(--primary);

    box-shadow: 0 10 30px rgba(57, 130, 247, .30);
    
    transform: translateY(-2px);
}

.register {
    margin-top: 20px;
    
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}


@keyframes fade {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:480px){

    .container-login{

        padding:28px 22px;

    }

    .header-login h2{

        font-size:2rem;

    }

    .Login-body {
        justify-content: flex-start;
        padding-top: 40px;
    }

}