.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

    gap: 20px;

    padding: 10px 15px;
    width: 100%;
}

.stat-card {
    padding: 10px 12px;

    width: 100%;
    max-width: 150px;

    display: flex;
    flex-direction: column;

    background: #1e1e1e;

    border: 1px solid #2a2a2a;
    border-radius: 10px;
}

.stat-card p {
    text-align: left;
    font-size: 1.13rem;
}