*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;

    background: var(--bg-primary);

    color: var(--text-primary);
    min-width: 320px;
}

button {
    cursor: pointer;

    font-family: inherit;
}

button,
input,
select,
textarea {
    font: inherit;
}

img,
svg {
    max-width: 100%;
}